extends layout

block scripts
  script(src="http://ajax.googleapis.com/ajax/libs/mootools/1.2.4/mootools-yui-compressed.js")
  script(src="https://code.createjs.com/createjs-2015.05.21.min.js")
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
  script(src="js/battle.js")
  script(src="js/battlenpc.js")
  script(src="js/battleplayer.js")
  script(src="js/battleunit.js")
  script(src="js/battleaction.js")
  script(src="js/battlestage.js")
  script(src="js/battlebutton.js")
  script(src="js/dialog.js")
  script(src="js/dialogchar.js")
  script(src="js/dialogdata.js")
  script(src="js/guard.js")
  script(src="js/interactprompt.js")
  script(src="js/level.js")
  script(src="js/leveldata.js")
  script(src="js/map.js")
  script(src="js/mapevent.js")
  script(src="js/player.js")
  script(src="js/prologue.js")
  script(src="js/prologueknight.js")
  script(src="js/scanner.js")
  script(src="js/tokendictionary.js")




block content
  body(bgcolor="#000000" onload="init();")
    div(id="loader" class="loader")
    div(class="canvasHolder" style="text-align: center;")
      canvas(id="canvas" width="800" height="450")
    div(style="text-align: center; width: 800px; margin: 0 auto; font-size: 18px")
      div(id="data", style="text-align: right;, font-family: crazycreation;")
    div(id="guard")