extends layout

block scripts
  //- each item in list
  //-  script(src=item)
  script(src="js/src/createjs.js")
  script(src="js/src/jquery.min.js")
  script(src="js/src/jquery-ui.js")
  script(src='js/initializer.js')
  script(src='js/globals.js')
  script(src='js/keys.js')
  script(src='js/utils.js')
  script(src='js/ui/container.js')
  script(src='js/game.js')
  script(src='js/player.js')
  script(src='js/maps/tiles/tile.js')
  script(src='js/maps/tiles/tiledata.js')
  script(src='js/maps/maps/tilemap.js')
  script(src='js/maps/maps/map1.js')
  script(src='js/maps/mapgraph/mapgraph.js')
  script(src='js/maps/mapgraph/mapgraph1.js')
  script(src='js/maps/components/componentmaker.js')

block content
  body(bgcolor="#000000" id="body")

    div(class="canvasHolder" id="canvasHolder")
      canvas(id="canvas")
      div(id="framerateCounter")
      script.
        bm.initialize();


