extends layout

block scripts
  //- each item in list
  //-  script(src=item)
  script(src="js/src/createjs.js")
  script(src="js/src/jquery.min.js")
  script(src="js/src/jquery-ui.js")
  script(src='js/initializer.js')
  script(src='js/globals.js')
  script(src='js/keys.js')
  script(src='js/utils.js')
  script(src='js/core/container.js')
  script(src='js/core/sprite.js')
  script(src='js/game.js')
  script(src='js/ui/ui.js')
  script(src='js/ui/userinterface.js')
  script(src='js/characters/character.js')
  script(src='js/characters/player.js')
  script(src='js/characters/npc.js')
  script(src='js/maps/tiles/tile.js')
  script(src='js/maps/tiles/tilemaker.js')
  script(src='js/maps/maps/tilemap.js')
  script(src='js/maps/maps/mapmaker.js')
  script(src='js/maps/mapgraph/mapgraph.js')
  script(src='js/maps/mapgraph/mapgraphmaker.js')
  script(src='js/maps/components/componentmaker.js')

block content
  body(bgcolor="#000000" id="body")

    div(class="canvasHolder" id="canvasHolder")
      canvas(id="canvas")
      div(id="framerateCounter")
      div(id="ui")
      script.
        bm.initialize();


