doctype html
html
  head
    title= title
    style.
      body {
        font-family: "crazycreation";
        src: url("fonts/Crazy-creation.ttf") format('truetype');
        src: local(crazycreation), url(fonts/Crazy-creation.ttf) format("truetype");
      }
      a:link {
          color: #3399FF;
          text-decoration: none;
      }
      a:visited {
          color: #3366FF;
          text-decoration: none;
      }
      a:hover {
          color: #3366FF;
          text-decoration: none;
      }
      a:active {
          color: #3366FF;
          text-decoration: none;
      }
    link(rel='stylesheet', href='css/style.css')
    block scripts


  body
    block content
